@font-face {
  font-family: 'Righteous';
  src: url('./fonts/Righteous/Righteous-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Permanent_Marker';
  src: url('./fonts/Permanent_Marker/PermanentMarker-Regular.ttf')
    format('truetype');
}

.App {
  font-size: 16px;
  background-color: white;
  width: calc(100% - 10px);
  max-width: 768px;
  margin: auto;
  min-height: 100vh;
  border: 5px solid #3466af;
}

/********************************************HEADER***************************************/
header {
  height: 92px;
  width: calc(100% - 10px);
  max-width: 768px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  background-color: #e92e2e;
  border: 5px solid #3466af;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.pokemonLogo {
  width: 158px;
  height: 58px;
  background-image: url('./images/PokemonLogo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.transpButton {
  background: transparent;
  box-shadow: none;
  border: none;
  width: 90px;
  height: 46px;
}

.exitButton {
  font-family: Righteous;
  font-size: 1.5rem;
  text-align: center;
  color: white;
  border: 3px solid white;
  border-radius: 10px;
  box-shadow: 6px 6px 6px #b02323;
  background-color: #3466af;
  width: 90px;
  height: 46px;
}

.exitButton:hover {
  cursor: pointer;
}

.exitButton:active {
  border: 2px solid #b02323;
  background-color: #2f5c9e;
  box-shadow: none;
}

/**************************************************************************/